{{define "auth/login"}}
<section class="site-content site-content--form-only">
  <div class="container container--narrow">
    <div class="row justify-content-center">

      <form id="Login" class="col-sm-9 col-11 py-md-5 pt-5 pb-3 px-2 form block--shadow text-center" method="post">
        <div class="d-flex justify-content-center form__tabs">
          <a class="btn" href="/login" disabled>Login</a>
          <a class="btn" href="/register">Register</a>
        </div>

        <h1>Login</h1>
        {{range .FlashError}}
          <div class="snackbar snackbar-error">
            <div class="snackbar-message">
              <div class="snackbar-close-button-top d-none"></div>
              <p>{{.}}</p>
            </div>
          </div>
        {{end}}

        <input type="email" name="email" class="form-control mb-4 w-75 mx-auto" placeholder="Email" required autofocus>
        <input type="password" name="password" class="form-control mb-4 w-75 mx-auto" placeholder="Password" required>
        <input class="btn btn-primary" type="submit" value="Login">
        {{ $.csrfField }}
        
        <div class="col-12"><a href="/passwordreset">Forgot your password?</a></div>

    </div>
  </div>	
</section>
{{end}}

