{{define "auth/signup"}}
<div class="wrapper">
  <div class="row">
    <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
      {{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
      {{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
      {{if .IsClosed }}<div class="well well-notification  orange-notification">{{.ClosePoolMsg}}</div>{{end}}
    </div> <!-- notication-col, etc. -->
    <div class="col-sm-15 col-md-6 text-left center-block">
      {{if .CaptchaDone}}
      <h1 style="{{if .FlashSuccess}}display: none;{{end}}">Sign Up</h1>
      <form method="post" class="form-horizontal">
        <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-13">
            <input name="email" type="email" class="form-control" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
          <label class="control-label col-sm-2" for="password">Password:</label>
          <div class="col-sm-13">
              <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
          <label class="control-label col-sm-2" for="passwordrepeat">Password:</label>
          <div class="col-sm-13">
              <input name="passwordrepeat" type="password" class="form-control" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-8" style="{{if .FlashSuccess}}display: none;{{end}}">
            <div class="col-md-button sign-in-button">
              <button id="signin" name="signin" type="submit" class="btn btn-primary" {{if .IsClosed }}disabled{{end}}>Sign Up</button>
            </div>
          </div>
            <p><a href="/passwordreset">Forgot your password?</a></p>
          </div>
        </div>
        <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
      </form>
      {{else}}
      <p>To sign up, first complete the captcha:</p>
      <div class="row">
        <div class="col-sm-10 center-block">
          <img id=image src="/captchas/{{.CaptchaID}}.png" alt="your captcha image">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-15 text-left center-block">
          <form action="/verifyhuman" method="post" class="form-horizontal">
            <div class="form-group center-block">
              <label class="control-label col-sm-4" for="captchaSolution">Text in picture:</label>
              <div class="col-sm-8">
                <input name=captchaSolution class="form-control">
                <input type=hidden name=captchaId value="{{.CaptchaID}}">
              </div>
              <div class="col-md-button center-block text-middle">
                <button name=captchaSubmit type=submit class="btn btn-primary">Submit</button>
              </div>
            </div>
            <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
          </form>
        </div>
      </div>
      {{end}}
    </div> <!-- forms column -->
  </div> <!-- row -->
</div> <!-- wrapper -->
{{end}}
