{{define "auth/signup"}}
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #222; color: #ffffff;">
		<h4 class="panel-title">Sign Up</h4>
	</div>
	<div class="panel-body" style="background-color: #333; color: #ffffff;">
		<form method="post" class="form-horizontal" data-parsley-validate>
		<fieldset>
			{{if .SMTPDisabled }}<div class="alert alert-danger">Mail server not configured.  You will not receive an email verification link.</div>{{end}}
			{{range .FlashError}}
				<div class="alert alert-danger">{{.}}</div><p>
			{{end}}
            {{range .FlashSuccess}}
                <div class="alert alert-success">{{.}}</div><p>
            {{end}}
			{{if .IsClosed }}<div class="alert alert-danger">{{.ClosePoolMsg}}</div>{{end}}
			<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="email">Email</label>  
				<div class="col-md-6">
					<input id="email" name="email" type="email" placeholder="Email address" class="form-control input-md" required="" data-parsley-required-message="Please enter your email">
				</div>
			</div>

			<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="password">Password</label>
				<div class="col-md-6">
					<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="" data-parsley-required-message="Please enter your password">
				</div>
			</div>

			<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="passwordrepeat">Repeat password</label>
				<div class="col-md-6">
					<input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="Repeat password" class="form-control input-md" required="" data-parsley-required-message="Please repeat your password" data-parsley-equalto="#password" data-parsley-equalto-message="Passwords do not match">
				</div>
			</div>

			<!-- <div class="form-group">
				<label class="col-md-4 control-label" for=""></label>
				<div class="col-md-6">
					<label class="checkbox-inline" for="terms">
						<input type="checkbox" name="terms" id="terms" required="" data-parsley-required-message="You can't continue without accepting our Terms and Conditions">
						I accept terms and conditions
					</label>
				</div>
			</div> -->

			<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
				<label class="col-md-4 control-label" for=""></label>
				<div class="col-md-6">
					<div class="g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="dark"></div>
				</div>
			</div>

			<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="signup"></label>
				<div class="col-md-4">
					<button id="signup" name="signup" class="btn btn-primary" {{if .IsClosed }}disabled{{end}}>Sign Up</button>
				</div>
			</div>

		</fieldset>
		<input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
		</form>
	</div>
</div>
{{end}}
