{{define "admin/status"}}
<section class="site-content">
	<div class="container container--narrow">

		<div class="row mx-3">
			<section class="block">
				
				<div class="col-12 block__title">
					<h1 class="d-flex justify-content-between align-items-center">
						<span>Back-end Status</span>
					</h1>
				</div>


				<div class="col-12 mb-3 px-0">
					<div class="table-scroll-y table-responsive text-nowrap">
						<table class="table" cellspacing="0" width="100%">
							<thead class="thead-light">
								<tr>
									<th scope="col" class="text-center">Back-end ID</th>
									<th scope="col" class="text-center">RPC Status</th>
									<th scope="col" class="text-center">DaemonConnected</th>
									<th scope="col" class="text-center">VoteVersion</th>
									<th scope="col" class="text-center">Unlocked</th>
									<th scope="col" class="text-center">Voting</th>
								</tr>
							</thead>
							<tbody>
								{{ range $i, $backend := .BackendStatus }}
								<tr class="table-light">
									<td class="text-center">{{$i}}</td>
									<td class="text-center">{{ $backend.RPCStatus       }}</td>
									<td class="text-center">{{ $backend.DaemonConnected }}</td>
									<td class="text-center">{{ $backend.VoteVersion     }}</td>
									<td class="text-center">{{ $backend.Unlocked        }}</td>
									<td class="text-center">{{ $backend.Voting          }}</td>
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>

			</section>
		</div>
	</div>
</section>
{{end}}