{{define "admin/status"}}
<section class="site-content">
	<div class="container container--narrow">

		<div class="row mx-3">
			<section class="block">
				
				<div class="col-12 block__title">
					<h1 class="d-flex justify-content-between align-items-center">
						<span>Back-end Status</span>
					</h1>
				</div>


				<div class="col-12 mb-3 px-0">
					<div class="table-scroll-y table-responsive text-nowrap">
						<table class="table" cellspacing="0" width="100%">
							<thead class="thead-light">
								<tr>
									<th scope="col" class="text-center">Host</th>
									<th scope="col" class="text-center">Stakepoold RPC Status</th>
									<th scope="col" class="text-center">DaemonConnected</th>
									<th scope="col" class="text-center">Unlocked</th>
									<th scope="col" class="text-center">Voting</th>
									<th scope="col" class="text-center">VoteVersion</th>
								</tr>
							</thead>
							<tbody>
								{{ range .BackendStatus }}
								<tr class="table-light">
									<td class="text-center">{{ .Host }}</td>
									
									<td class="text-center
										{{ if eq .RPCStatus "Ready" }}status-good{{else}}status-bad{{end}}"
										>{{ .RPCStatus }}</td>

									{{ with .WalletStatus }}
									
										<td class="text-center
											{{ if eq .DaemonConnected true }}status-good{{else}}status-bad{{end}}"
											>{{ .DaemonConnected }}</td>

										
										<td class="text-center
											{{ if eq .Unlocked true }}status-good{{else}}status-bad{{end}}"
											>{{ .Unlocked }}</td>

										
										<td class="text-center
											{{ if eq .Voting false }}status-good{{else}}status-bad{{end}}"
											>{{ .Voting }}</td>

										<td class="text-center">{{ .VoteVersion }}</td>

									{{else}}
									
										<td class="text-center status-bad" colspan="4">Cannot get wallet stats</td>
									
									{{end}}
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>

			</section>
		</div>
	</div>
</section>
{{end}}