[general]
public_path   = "public"
template_path = "views"

; Can use "openssl rand -hex 32" to generate this if you wish
[cookie]
mac_secret = "secret string which has over 256-bit entropy"
secure     = false

[database]
user     = "stakepool"
password = ""
hostname = "localhost"
port     = "3306"
database = "stakepool"

[csrf]
key    = "csrf_token"
cookie = "XSRF-TOKEN"
header = "X-XSRF-TOKEN"
