{{define "captcha"}}

<div class="d-flex flex-column p-0 w-100">

    {{range .CaptchaError}}
        <div class="snackbar snackbar-error">
            <div class="snackbar-message">
                <div class="snackbar-close-button-top d-none"></div>        
                <p>{{.}}</p>
            </div>
        </div>
    {{end}}

    <div class="block__description">
        <p>{{ .CaptchaMsg }}</p>
    </div>

    <div class="col-12 p-0 d-flex justify-content-center">
        <img id=image src="/captchas/{{.CaptchaID}}.png" alt="your captcha image">
    </div>

    <form action="/verifyhuman" id="captcha-form" method="post" class="w-100 form form--narrow-inputs" autocomplete="off">
        <div class="col-12 mb-4 text-left center-block">
            <div class="form-group row mb-0 justify-content-center">
                <label class="pr-4" for="captchaSolution">Text&nbsp;in&nbsp;picture:</label>
                <div>
                    <input name=captchaSolution required type="text" maxlength="6" pattern="\d{6}" class="form-control">
                </div>
            </div>
        </div>
            
        <input type=hidden name=captchaId value="{{.CaptchaID}}">
        {{ $.csrfField }}
        <div class="col-md-button center-block text-middle">
            <input name=captchaSubmit type=submit class="btn btn-primary" value="Submit">
        </div>

    </form>

</div>

{{end}}
