{{define "emailupdate"}}
<section class="site-content site-content--form-only">
	<div class="container container--narrow">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-11 p-5 block--shadow">
				{{with .FlashSuccess}}
					<h1>Email Successfully Updated</h1>
					<p><span style="font-size: larger;">You may now <a href="/login">Login</a> with your new email address.</span></p>
				{{else}}
					<h1>Email Update Error</h1>
					{{range .FlashError}}
					<p><span style="font-size: larger;">{{.}}</span></p>
					{{end}}
				{{end}}
			</div>
		</div>
	</div>
</section>
{{end}}
