{{define "error"}}
<div class="wrapper">
    <div class="row">
        
        <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
            <div class="well well-notification  orange-notification">
                {{if .RateLimited}}
                    Rate Limited
                {{else}}
                    Error
                {{end}}
            </div>
        </div>

        <div class="col-sm-15 col-md-6 text-left center-block">
            <h1>We could not process your request</h1>
            {{if .RateLimited}}
                <p>Your request has been rate limited to lighten the load on the servers.
                Please re-try your request.</p>
            {{else}}
                <p>An error occurred. Please re-try your request or contact the VSP admin if the error continues. <b>Wallets are still online and voting.</b></p>
            {{end}}
        </div>
        
    </div>
</div>
{{end}}
