{{define "footer"}}
    <footer class="footer">
      <div class="container">
        <div class="row mx-3 mx-lg-0">
          <div class="col-md-4 col-12 footer__credit-column">
            <div class="d-flex justify-content-center h-100">
              <div class="align-self-center">
                <p class="mb-0">Decred developers | 2016-2019<br>The source sode is available at <a href="https://github.com/decred">GitHub</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

	<script src="assets/js/vendor/jquery-slim.min.js"></script>
	<script src="assets/js/vendor/popper.min.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>
	
	{{/* Homepage caorousel */}}
	<script src="assets/js/vendor/flickity.pkgd.min.js"></script>
	
	{{/* Homepage VSP table */}}
	<script src="assets/js/vendor/jquery.dataTables.min.js"></script>
	<script src="assets/js/vendor/dataTables.bootstrap4.min.js"></script>
	
	{{/* Stats page charts */}}
	<script src="assets/js/vendor/d3.min.js" charset="utf-8"></script>
	<script src="assets/js/vendor/d3pie.min.js"></script>

	{{/* dcrstakepool custom js */}}
	<script src="assets/js/global.js"></script>
	

{{if .IsStats }}

    <script>
var pie = new d3pie("chart1", {
	"size": {
		"canvasWidth": 288,
		"canvasHeight": 288,
		"pieOuterRadius": "100%"
	},
	"data": {
		"sortOrder": "value-asc",
		"content": [
			{
				"label": "Missed",
				"value": {{ .StakeInfo.Missed }},
				"color": "#fd714b"
			},
			{
				"label": "Votes",
				"value": {{ .StakeInfo.Voted }},
				"color": "#41bf53"
			}
	
		]
	},
	"labels": {
		"outer": {
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 100
		},
		"mainLabel": {
			"fontSize": 0
		},

		"lines": {
			"enabled": false
		},
		"truncation": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		},
		"highlightSegmentOnMouseover": false,
		"highlightLuminosity": 0.99
	},
	"misc": {
		"colors": {
			"background": "",
			"segmentStroke": ""
		},
		"canvasPadding": {
			"top": 0,
			"right": 0,
			"bottom": 0,
			"left": 0
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label} {percentage}%",
		"styles": {
			"fadeInSpeed": 300,
			"backgroundColor": "#ffffff",
			"backgroundOpacity": 1,
			"color": "#000000",
			"padding": 10
		}
	},
});
var pie = new d3pie("chart2", {
	"size": {
		"canvasWidth": 288,
		"canvasHeight": 288,
		"pieOuterRadius": "100%"
	},
	"data": {
		"sortOrder": "value-asc",
		"content": [
			{
				"label": "Immature",
				"value": {{ .StakeInfo.Immature }},
				"color": "#44d6a5"
			},
			{
				"label": "Live",
				"value": {{ .StakeInfo.Live }},
				"color": "#3478f7"
			}
		]
	},
	"labels": {
		"outer": {
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 100
		},
		"mainLabel": {
			"fontSize": 0
		},
		"lines": {
			"enabled": false
		},
		"truncation": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		},
		"highlightSegmentOnMouseover": false,
		"highlightLuminosity": 0.99
	},
	"misc": {
		"colors": {
			"background": "",
			"segmentStroke": ""
		},
		"canvasPadding": {
			"top": 0,
			"right": 0,
			"bottom": 0,
			"left": 0
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label} {percentage}%",
		"styles": {
			"fadeInSpeed": 300,
			"backgroundColor": "#ffffff",
			"backgroundOpacity": 1,
			"color": "#000000",
			"padding": 10
		}
	},
});
var pie = new d3pie("chart3", {
	"size": {
		"canvasWidth": 288,
		"canvasHeight": 288,
		"pieOuterRadius": "100%"
	},
	"data": {
		"sortOrder": "value-asc",
		"content": [
			{
				"label": "This Voting Service Ticket Pool",
				"value": {{ .StakeInfo.Live }},
				"color": "#73d5f3"
			},
			{
				"label": "Network Ticket Pool",
				"value": {{ .StakeInfo.PoolSize }},
				"color": "#e1f7ff"
			}
		]
	},
	"labels": {
		"outer": {
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 100
		},
		"mainLabel": {
			"fontSize": 0
		},

		"lines": {
			"enabled": false
		},
		"truncation": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		},
		"highlightSegmentOnMouseover": false,
		"highlightLuminosity": 0.99
	},
	"misc": {
		"colors": {
			"background": "",
			"segmentStroke": ""
		},
		"canvasPadding": {
			"top": 0,
			"right": 0,
			"bottom": 0,
			"left": 0
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label} {percentage}%",
		"styles": {
			"fadeInSpeed": 300,
			"backgroundColor": "#ffffff",
			"backgroundOpacity": 1,
			"color": "#000000",
			"padding": 10
		}
	}
});
</script>
{{end}}

  </body>
</html>
{{end}}
