{{define "footer"}}
    <footer class="footer">
      <div class="container">
        <div class="row mx-3 mx-lg-0">
          <div class="col-md-4 col-12 footer__credit-column">
            <div class="d-flex justify-content-center h-100">
              <div class="align-self-center">
                <p class="mb-0">Decred developers | 2016-2019<br>The source code is available at <a href="https://github.com/decred/dcrstakepool" rel="noopener noreferrer">GitHub</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

	<script src="/assets/js/vendor/jquery.min.js"></script>
	<script src="/assets/js/vendor/popper.min.js"></script>
	<script src="/assets/js/vendor/bootstrap.min.js"></script>
	
	{{/* Homepage caorousel */}}
	<script src="/assets/js/vendor/flickity.pkgd.min.js"></script>
	
	{{/* Homepage VSP table */}}
	<script src="/assets/js/vendor/jquery.dataTables.min.js"></script>
	<script src="/assets/js/vendor/dataTables.bootstrap4.min.js"></script>
	
	{{/* dcrstakepool custom js */}}
	<script src="/assets/js/global.js"></script>
	
	{{if .IsStats }}
    <!-- The order of these d3 files is important
         because some of them depend on eachother -->
    <script src="/assets/js/vendor/d3-selection.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-array.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-collection.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-color.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-format.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-interpolate.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-scale.v2.min.js"></script>
    <script src="/assets/js/vendor/d3-path.v1.min.js"></script>
    <script src="/assets/js/vendor/d3-shape.v1.min.js"></script>

		<script src="/assets/js/stats.js"></script>
    <script>
      drawChart(
        "#chart1",
        ["Missed", "Voted"],
        ["#fd714b", "#41bf53"],
        { a: {{ .StakeInfo.Missed }}, b: {{ .StakeInfo.Voted }} }
      );
      drawChart(
        "#chart2",
        ["Immature", "Live"],
        ["#44d6a5", "#3478f7"],
        { a: {{ .StakeInfo.Immature }}, b: {{ .StakeInfo.Live }} }
      );
      drawChart(
        "#chart3",
        ["VSP Ticket Pool", "Network Ticket Pool"],
        ["#ffc84e", "#73d5f3"],
        { a: {{ .StakeInfo.Live }}, b: {{ .StakeInfo.PoolSize }} }
      );
    </script>
	{{end}}

{{ if .IsIndex }}
<script>
var stakepoolFinder = function () {
  if ($("#stakepool-data").length == 0) {
    return;
  }

  var isMainnet = {{ if eq .Network "mainnet"}}true{{else}}false{{end}};
  
  $("#stakepool-data").html("Loading..."); $("#stakepool-data")
  tableMarkup = '<table id="pooldata" class="dtVerticalScroll table" cellspacing="0" width="100%"><thead class="thead-light"><tr class=""><th scope="col">ID</th><th scope="col">Address</th><th scope="col">Proportion <img src="/assets/images/arrow-up-down.svg" alt=""></th><th scope="col">VSP Fees <img src="/assets/images/arrow-up-down.svg" alt=""></th></tr></thead><tbody>';
  $.ajax({
    url: "https://api.decred.org/?c=gsd",
    dataType: "json",
    success: function (data, textStatus) {
      $.each(data, function (poolName, poolData) {
        if (isMainnet) {
          if (poolData["Network"] === 'testnet') {
            return;
          } 
        } else {
          if (poolData["Network"] === 'mainnet') {
            return;
          } 
        }
        var proportion = poolData["ProportionLive"] * 100;
        tableMarkup += '<tr>';
        tableMarkup += '<td>' + poolName + '</td>';
        tableMarkup += '<td><a target="_blank" rel="noopener noreferrer" href="' + poolData["URL"] + '">' + poolData["URL"].replace("https://", "") + '</a></td>';
        tableMarkup += '<td>' + proportion.toFixed(2) + '%</td>';
        tableMarkup += '<td>' + poolData["PoolFees"] + '%</td>';
        tableMarkup += '</tr>';
      });
      tableMarkup += '</tbody></table>';
      $("#stakepool-data").html(tableMarkup);
      $('.dtVerticalScroll').DataTable({
        "scrollY": "251px",
        "scrollX": true,
        "scrollCollapse": true,
        "paging": false,
        "searching": false,
        "info": false
      });
      $('.dataTables_length').addClass('bs-select');
    },
  });
}();

</script>
{{end}}

  </body>
</html>
{{end}}
