{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!--  Custom favicon  -->
        <!-- Apple PWA -->
        <link rel="apple-touch-icon" sizes="57x57"   href="/assets/images/favicon/apple-touch-icon-57x57.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="60x60"   href="/assets/images/favicon/apple-touch-icon-60x60.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="72x72"   href="/assets/images/favicon/apple-touch-icon-72x72.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="76x76"   href="/assets/images/favicon/apple-touch-icon-76x76.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png?v=yHh3NA">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png?v=yHh3NA">

        <!-- Browser -->
        <link rel="icon" href="/assets/images/favicon/favicon.ico?v=yHh3NA">
        <link rel="icon" href="/assets/images/favicon/favicon-32x32.png?v=yHh3NA" type="image/png" sizes="32x32">
        <link rel="icon" href="/assets/images/favicon/favicon-16x16.png?v=yHh3NA" type="image/png" sizes="16x16">

        <!-- Android PWA -->
        <link rel="manifest" href="/assets/images/favicon/manifest.json?v=yHh3NA">

        <!-- Safari -->
        <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg?v=yHh3NA" color="#091440">

        <!-- Windows PWA -->
        <meta name="msapplication-TileColor" content="#091440">
        <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png?v=fi5jKKtbwv">
        <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml?v=fi5jKKtbwv">
    <!-- End custom favicon -->

    <title>{{.Title}}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <body>
{{end}}
