{{define "home"}}
<div class="wrapper">
    <div class="row main-row">
 <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
    </div>
    <div class="col-sm-12 col-md-10 col-lg-8 center-block">
       <h1 class="text-center">Decred Stake Pool Overview</h1>
       <p>A stake pool is used to delegate your voting powers to a third party (the pool). The pool <b>cannot</b> steal your funds.</p>
       <p>Participating in a stake pool is perfect for people who wish to take part in Decred's proof of stake voting but can't due to:</p>
       <ul><li>Not wanting to keep a constantly unlocked wallet</li>
       <li>Lack of a realible/low latency Internet connection</li></ul>
       <p>The source code is available at <a href="https://github.com/decred/dcrstakepool" target="_blank">GitHub.</a></p>
       <hr>
       <ul>
         <li class="li-heading">Pool Information</li>
         <li>Network: {{.Network}}</li>
         <li>Pool Fees: {{.PoolFees}}%</li>
         <li>Support Email: <a href="mailto:{{.PoolEmail}}">{{.PoolEmail}}</a></li>
         <li>Support Link: <a href="{{.PoolLink}}" target="_blank">{{.PoolLink}}</a></li>
       </ul>
    </div>   
    </div>
	{{if not .User}}
     <div class="row row-button">
      <div class="col-sm-15 col-md-6 center-block text-center">
        <a href="/signup" class="btn btn-primary" role="button">Sign Up</a>
      </div>
    </div>
	{{end}}
</div>
{{end}}
