{{define "main"}}
{{template "header" .}}

  <nav class="site-header px-3 pt-3">
    <div class="px-5 pb-3 pb-md-2 float-left">
      <a class="py-1 border-0 d-flex justify-content-start align-items-center" href="/">
            <div class="logo--logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" fill="none" viewBox="0 0 23 20">
              <path fill="#000" fill-opacity="0" d="M0 0h23v19.167H0z"/>
              <path fill="#091440" d="M4.792 4.792L0 0h5.175l7.667 7.667H7.667a3.834 3.834 0 1 0 0 7.666h1.917l3.833 3.834h-5.75A7.667 7.667 0 0 1 0 11.5c0-3.11 1.533-5.615 4.792-6.708z"/>
              <path fill="#091440" d="M18.208 14.375L23 19.167h-5.175L10.158 11.5h5.175a3.834 3.834 0 0 0 0-7.667h-1.917L9.583 0h5.75A7.667 7.667 0 0 1 23 7.667c0 3.109-1.533 5.615-4.792 6.708z"/>
          </svg>
        </div>
            <div class="logo--text">
          VSP<br>
          <b>{{$.Designation}}</b>
        </div>
          </a>
        </div>
        <div class="float-left pl-2">

          <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
              {{if .IsIndex}}active{{end}}"
            href="/">Home</a>

          <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
              {{if .IsStats}}active{{end}}"
            href="/stats">Stats</a>

          {{if .Admin}}
            <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                {{if .IsAdminTickets}}active{{end}}"
              href="/admintickets">Add Low Fee Tickets</a>

            <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                {{if .IsAdminStatus}}active{{end}}"
              href="/status">Status</a>
          {{end}}  

          {{if .User}}
              <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                  {{if .IsAddress}}active{{end}}"
                href="/address">Connect to Wallet</a>

              <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                  {{if .IsSettings}}active{{end}}"
                href="/settings">Settings</a>

              {{if .User.MultiSigAddress}}
                <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                    {{if .IsTickets }}active{{end}}"
                  href="/tickets">Tickets</a>
              
                <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                    {{if .IsVoting  }}active{{end}}"
                  href="/voting">Voting</a>
              {{end}}
          {{end}}

        </div>

        <div class="pr-5 d-flex float-right">
          {{if .User}}
            <p class="m-0 mr-3 pt-2 d-none d-xl-inline-block">Hello, <span class="e-mail">{{ .User.Email}}</span></p>
            <a class="pb-3 pt-2 d-none d-md-inline-block" href="/logout">Logout</a>
            {{else}}
              <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                {{if .isLogin }}active{{end}}" href="/login">Login</a>
              <a class="mr-5 pt-2 pb-3 d-none d-md-inline-block
                {{if .isRegister }}active{{end}}" href="/register">Register</a>
          {{end}}
          <div id="sidebarCollapse" class="py-1 d-inline-block d-md-none">
        <div class="menu-trigger first">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </div>
      </div>
    </div>
</nav>

<nav id="sidebar" class="d-block d-md-none">
  <div id="dismiss">
    <div class="wrapper py-1">
      <div class="menu-trigger first active">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </div>
    </div>
  </div>
  <ul class="mb-5">
    {{if .User}}
      <li><p>Hello, <span class="e-mail">{{ .User.Email}}</span></p></li>
    {{end}}
    <li><a class="{{if .IsIndex}}active{{end}}" href="/">Home</a></li>
    <li><a class="{{if .IsStats}}active{{end}}" href="/stats">Stats</a></li>
    {{if .Admin}}
      <li><a class="{{if .IsAdminTickets}}active{{end}}" href="/admintickets">Add Low Fee Tickets</a></li>
      <li><a class="{{if .IsAdminStatus}}active{{end}}" href="/status">Status</a></li>
    {{end}}
    {{if .User}}
      <li><a class="{{if .IsAddress}}active{{end}}" href="/address">Connect to Wallet</a></li>
      <li><a class="{{if .IsSettings}}active{{end}}" href="/settings">Settings</a></li>
      {{if .User.MultiSigAddress}}
        <li><a class="{{if .IsTickets}}active{{end}}" href="/tickets">Tickets</a></li>
        <li><a class="{{if .IsVoting}}active{{end}}" href="/voting">Voting</a></li>
      {{end}}
    {{end}}
  </ul>
  <ul>
    {{if .User}}
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a class="{{if .isLogin}}active{{end}}" href="/login">Login</a></li>
      <li><a class="{{if .isRegister}}active{{end}}" href="/register">Register</a></li>
    {{end}}
  </ul>
</nav>
{{.Content}}
{{template "footer" .}}
{{end}}

