{{define "passwordupdate"}}
<section class="site-content site-content--form-only">
	<div class="container container--narrow">

		<div class="row justify-content-center">
			{{if .FlashSuccess}}
				<div class="col-lg-8 col-11 p-sm-5 px-4 py-5 block--shadow">

					<div class="text-center px-4">
						<h1>Password Successfully Updated</h1>
						<p>You may now <a href="/login">Login</a> with your new password.</p>
					</div>
				</div>
			{{else}}
				<form method="post" id="Password" class="col-lg-8 col-11 p-sm-5 px-2 py-5 form form--login text-center block--shadow" data-empty="" action="#" method="post" novalidate>
					<h1>Password Update</h1>
					
					<div class="mb-4 mx-auto w-75">
							<div class="row justify-content-center flex-nowrap mx-0">
								<input type="password" name="password" class="form-control {{if .FlashError}} err-form-control {{end}}" placeholder="New password" required autofocus>
								{{if .FlashError}} 
									<div class="icon-warning"></div>
								{{end}}
							</div>
							{{range .FlashError}} 
									<div class="err-message mt-1 ml-1 text-left">
										{{.}}
									</div>
							{{end}}
					</div>
					<input type="password" name="passwordrepeat" class="form-control mb-4 w-75 mx-auto" placeholder="Repeat your new password" required>

					{{ $.csrfField }}
					<input class="btn btn-primary mb-3" type="submit" value="Update Password">
					
				</form>
			{{end}}
		</div>
	</div>
</section>

{{end}}
