{{define "passwordreset"}}
<div class="wrapper">
  <div class="row main-row">
   <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
	{{if .SMTPDisabled }}<div class="well well-notification  orange-notification">Mail server not configured.  You will not receive an password reset link.</div>{{end}}
	{{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
	{{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
    </div>
    <div class="col-sm-12 col-md-10 col-lg-6 center-block">
	<h1>Password Reset</h1>
	{{if .FlashSuccess}}
	<p><span style="font-size: larger;">Check your email inbox, and click the link in the email you received to reset your password.</span></p>
	{{end}}
	<form method="post" class="form-horizontal">
		<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
			<label for="inputEmail3" class="control-label">Email:</label>
      			<input name="email" type="email" class="form-control sing-in-control email-control" id="email" placeholder="Email" required>
  		</div>
		<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
			<label class="col-md-4 control-label" for=""></label>
			<div class="col-md-6">
			<div class="g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="light"></div>
			</div>
		</div>
		<div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
			<label class="col-md-4 control-label" for="resetpassword"></label>
			<div class="col-md-4">
			<button id="resetpassword" name="signin" class="btn btn-primary">Reset Password</button>
			</div>
		</div>
		<input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
	</form>
   </div>
  </div>
</div>
{{end}}
