{{define "passwordupdate"}}
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #222; color: #ffffff;">
		<h4 class="panel-title">Password Update</h4>
	</div>
	<div class="panel-body" style="background-color: #333; color: #ffffff;">
		{{range .FlashSuccess}}
			<div class="alert alert-success">{{.}}</div><p>
		{{end}}
	{{if .FlashSuccess}}
		<p><span style="font-size: larger;">You may now <a href="/signin">sign in</a> with your new password.</span></p>
	{{end}}
	{{if not .FlashSuccess}}
		<form class="form-horizontal" method="post" data-parsley-validate>
		<fieldset>
			{{range .FlashError}}
				<div class="alert alert-danger">{{.}}</div><p>
			{{end}}

			<div class="form-group" style="{{if .FlashError}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="password">Password</label>
				<div class="col-md-6">
					<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="" data-parsley-required-message="Please enter your password">
				</div>
			</div>

			<div class="form-group" style="{{if .FlashError}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="passwordrepeat">Repeat password</label>
				<div class="col-md-6">
					<input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="Repeat password" class="form-control input-md" required="" data-parsley-required-message="Please repeat your password" data-parsley-equalto="#password" data-parsley-equalto-message="Passwords do not match">
				</div>
			</div>

			<div class="form-group" style="{{if .FlashError}}display: none;{{end}}">
				<label class="col-md-4 control-label" for="updatepassword"></label>
				<div class="col-md-4">
					<button id="updatepassword" name="updatepassword" class="btn btn-primary">Update Password</button>
				</div>
			</div>
		</fieldset>
    	<input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
		</form>
	{{end}}
	</div>
</div>
{{end}}
