{{define "passwordreset"}}
<section class="site-content site-content--form-only">
	<div class="container container--narrow">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-11 p-sm-5 px-4 py-5 form block--shadow">

				<div class="text-center">
					<h1>Password Reset</h1>

					{{if .FlashSuccess}}
						{{range .FlashSuccess}}<p><span style="font-size: larger;">{{.}}</span></p>{{end}}

					{{else if .CaptchaDone}}
						<form id="Reset" method="post">
							{{range .FlashError}}
								<div class="snackbar snackbar-error">
									<div class="snackbar-message">
										<div class="snackbar-close-button-top d-none"></div>
										<p>{{.}}</p>
									</div>
								</div>
							{{end}}
							<input type="email" name="email" class="form-control mb-4 w-75 mx-auto" placeholder="Email" required autofocus>
							{{ $.csrfField }}
							<input class="btn btn-primary mb-3" type="submit" value="Reset Password">
						</form>
						
					{{else}} <!-- Render CAPTCHA -->
						{{ template "captcha" . }}
					{{end}}
				</div>
			</div>

		</div>
	</div>
</section>
{{end}}
