{{define "voting"}}
<div class="wrapper">
 <div class="row">
  <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
    {{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
    {{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
  </div>
 
  <div class="col-sm-15 col-md-10 text-left center-block">
    <h1>Voting Preferences (v{{.VoteVersion}})</h1>

    <p><strong>Current VoteBits:</strong></p>
    <pre>{{.User.VoteBits}}</pre>
    <hr />

    <!-- AGENDAS -->
    <h2>Agendas</h2>
    <form method="post" class="form-horizontal">
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="lastblockvalid"
          title="Whether or not the last block was valid.  In the future, this value will be configurable once a policy engine has been written.">Last Block Valid</label>
	      <div class="col-sm-13">
	        <select class="form-control" name="lastblockvalid" id="lastblockvalid" disabled><option value=1>Yes</option></select>
	      </div>
	    </div>
      {{if .Agendas}}
        {{ $selected := 0 }}
        {{ $agendachoices := .AgendaChoices }}
        {{ range $i, $data := .Agendas }}
          {{ range $agendanum, $agendachoice := $agendachoices}}
            {{if eq $agendanum $i}}
              {{ $selected := $agendachoice }}
            {{end}}
          {{ end }}
          <div class="form-group">
            <label class="control-label col-sm-2" for="agenda{{$i}}" title="{{ $data.Description }}">{{$data.Id}}</label>
            <div class="col-sm-13">
              <select class="form-control" name="agenda{{$i}}" id="{{ $data.Id }}">
                {{ range $j, $choicesdata := $data.Choices}}
                  {{ $choice := $choicesdata.Bits }}
                  {{ $desc := $choicesdata.Description }}
                  <option value="{{$choicesdata.Bits}}"
                  {{if eq $choice $selected}}
                    selected>{{$desc}}</option>
                  {{else}}
                    >{{$desc}}</option>
                  {{end}}
                {{end}}
              </select>
            </div>
          </div>
          {{end}}
      {{end}}
	    <div class="form-group">
         <button id="updateVoting" name="updateVoting" class="btn btn-primary">Update Voting Preferences</button>
	    </div>
	    <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
	  </form>

  </div>

 </div>
</div>
{{end}}

