{{define "auth/signup"}}
<div class="wrapper">
    <div class="row">
    <div class="col-xs-15 col-md-8 col-lg-8 notication-col center-block">
       {{if .SMTPDisabled }}<div class="well well-notification  orange-notification">Mail server not configured.  You will not receive an email verification link.</div>{{end}}
	{{range .FlashError}}<div class="well well-notification  orange-notification">{{.}}</div>{{end}}
	{{range .FlashSuccess}}<div class="well well-notification green-notification">{{.}}</div>{{end}}
	{{if .IsClosed }}<div class="well well-notification  orange-notification">{{.ClosePoolMsg}}</div>{{end}}
    </div>
    <div class="col-sm-15 col-md-6 text-left center-block">
    <h1 style="{{if .FlashSuccess}}display: none;{{end}}">Sign Up</h1>
    <form method="post" class="form-horizontal">
  <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
    <label class="control-label col-sm-2" for="email">Email:</label>
	<div class="col-sm-13">
      <input name="email" type="email" class="form-control" placeholder="Email" required>
	</div>
  </div>
  <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
    <label class="control-label col-sm-2" for="password">Password:</label>
	<div class="col-sm-13">
      <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
	</div>
  </div>
  <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
    <label class="control-label col-sm-2" for="passwordrepeat">Password:</label>
	<div class="col-sm-13">
      <input name="passwordrepeat" type="password" class="form-control" placeholder="Password" required>
	</div>
  </div>
<!-- <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
    <label class="col-md-4 control-label" for=""></label>
     <div class="col-md-6">
     <label class="checkbox-inline" for="terms">
    <input type="checkbox" name="terms" id="terms" required="" data-parsley-required-message="You can't continue without accepting our Terms and Conditions">
       I accept terms and conditions
     </label>
     </div>
    </div> -->

  <div class="form-group" style="{{if .FlashSuccess}}display: none;{{end}}">
     <div class="g-recaptcha pull-right" style="margin-right:8px" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="light"></div>
  </div>

<div class="row">
  <div class="form-group col-sm-8" style="{{if .FlashSuccess}}display: none;{{end}}">
    <div class="col-md-button sign-in-button">
      <button id="signin" name="signin" type="submit" class="btn btn-primary" {{if .IsClosed }}disabled{{end}}>Sign Up</button>
    </div>
  </div>

  <div class="form-group col-sm-7 pull-right" style="{{if .FlashSuccess}}display: none;{{end}}">
<!--    <label class="col-md-4 control-label" for="reset"></label> -->
        <p><a href="/passwordreset">Forgot your password?</a></p>
        <p><a href="/signup">New user?</a></p>
  </div>
</div>
	<input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
    </form>
    </div> 
    </div>
</div>
{{end}}
